django==4.1.5  # latest 4.1.x
wheel==0.38.4  # latest 0.38.x
python
pandas==1.5.2  # latest 1.5.x
gunicorn==20.1.0 # latest 20.x 
whitenoise==6.3.0 # latest 6.x
fastparquet==0.8.3 # latest 0.8.x
pyarrow==10.0.1 # latest 10.x
