*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    z-index: 100;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
}

#myVideo {
    position: fixed;
    right: 0;
    opacity: 0.5;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    transform: translateX(calc((100% - 100vw) / 2));
}


/* Main Container */
.main-container {
    max-width: 1200px;
    text-align: center;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Card Container */
.card-container {
    width: 350px;
    max-width: 350px;
    margin: 0.5rem auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 5%;
}

/* Card Header */
.card-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Card Paragraph */
.card-para {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

/* Card Link */
.card-link {
    display: inline-block;
    font-size: 16px;
    color: #0077c2;
    text-decoration: none;
    margin-top: 10px;
}

.card-link:hover {
    text-decoration: underline;
}