{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>Movie Recommendation System</title>
    <meta name="description" content="">

    <link rel="shortcut icon" href="{% static 'logo.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'recommender/index-style.css' %}">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

</head>

<body>

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <input class="input-field" type="text" id="movie_name" name="movie_name"
                placeholder="Start typing to see movie suggestions..." required />
            <script>
                $(function () {
                    var availableTags = [
                        {% for mmm in all_movie_names %}
                        "{{ mmm }}",
                    {% endfor %}
                ];
                $("#movie_name").autocomplete({
                    source: availableTags,
                    minLength: 4
                });
            } );
            </script>
            <button type="submit" class="submit-button">Search</button>
        </form>
    </div>

    <div class="main-container">
        <div class="heading">
            <h1 class="heading__title">Movie Recommendation Demo</h1>
            <p class="heading__credits"><a class="heading__link" target="_blank"
                    href="https://github.com/inboxpraveen">Made with &#x2665; by Praveen Kumar</a></p>
            <br>
        </div>

        <div class="container">
            {% if input_provided %}
            <p class="heading__credits">Showing Results for: <b>{{ input_movie_name }}</b></p>
            {% if not movie_found %}
            <p>Oops! We can not match your movie in our database. As this is a demo model, only top 10K movies based on
                IMBD are present.</p>
            {% endif %}
            {% endif %}
        </div>

        {% if recomendation_found %}
        <div class="cards">
            {% if recomendation_found %}
                {% for each_movie_dictionary in recommended_movies %}
                <div class="card card-1">
                    <div class="card__icon"><i class="fa fa-film"></i> {{ each_movie_dictionary.movie_title }}</div>
                    <h2 class="card__title">Directed by - {{ each_movie_dictionary.movie_director }}</h2>
                    <p class="card__apply">
                        <a class="card__link" target="_blank" href="{{ each_movie_dictionary.google_link }}">Search on Google <i class="fa fa-arrow-right"></i></a>
                    </p>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}

    </div>

    <div class="movie-recommendation">
		<h1>Movie Recommendation System Demo</h1>
		<p>Check out these great movies that we recommend for you.</p>
	</div>
	<div class="formcontainer">
		<input type="text" class="input-field" placeholder="Enter your email address">
		<button type="submit" class="submit-button">Submit</button>
	</div>
    <div class="cardcontainer">
		<div class="card">
			<div class="card-content">
				<h2 class="card-heading">Card Heading</h2>
				<p class="card-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="card-paragraph">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<h2 class="card-heading">Card Heading</h2>
				<p class="card-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="card-paragraph">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="card">
			<div class="card-content">
				<h2 class="card-heading">Card Heading</h2>
				<p class="card-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="card-paragraph">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>

</body>
</html>