{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="description" content="This page is a Movie Recommendation System created by Praveen Kumar, an AI Engineer & Software Developer based in Bangalore. Search for movies using the autocomplete input field, and get great movie suggestions.">
    <meta name="keywords" content="Praveen Kumar, Portfolio, Hitchhikers Guide to Deep Learning, Computer Vision Engineer, Trellissoft, Research, Praveen-kumar,Praveen Kumar linkedin, Praveen Kumar github, Inbox praveen, inbox praveen kumar, praveen kumar twitter, inbox praveen twitter, praveen kumar medium, inbox praveen medium, Movie Recommendation System, AI Engineer, Software Developer, autocomplete, movie suggestions, Recommendation system">
    <meta name="author" content="Praveen Kumar" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Praveen Kumar">
    <meta name="twitter:site" content="@inboxpraveen">
    <meta name="twitter:title" content="Movie Recommendation System">
    <meta name="twitter:creator" content="@inboxpraveen">

    <meta property="og:title" content="Movie Recommendation System">
    <meta property="og:description" content="This page is a Movie Recommendation System created by Praveen Kumar, an AI Engineer & Software Developer based in Bangalore. Search for movies using the autocomplete input field, and get great movie suggestions.">
    <meta property="og:image" content="https://github.com/inboxpraveen/inboxpraveen.github.io/blob/master/assets/img/hero_3.png">
    <meta property="og:url" content="https://inboxpraveen.github.io/">

    <link rel="shortcut icon" href="{% static 'logo.png' %}">

    <title>Movie Recommendation System</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="Stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <link rel="stylesheet" href="{% static 'recommender/cursor.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'recommender/page.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'recommender/navbar.css' %}" type="text/css">

</head>

<body>

    <div class="cursor-dot-outline"></div>
    <div class="cursor-dot"></div>
    <script src="{% static 'recommender/cursor.js' %}"></script>

    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
    <label for="menu-icon"></label>
    <nav class="nav">
        <ul class="pt-5">
            <li><a href="https://inboxpraveen.github.io/" target="_blank">About</a></li>
            <li><a href="https://inboxpraveen.github.io/projects/all-projects.html" target="_blank">All Projects</a></li>
            <li><a href="https://inboxpraveen.github.io/" target="_blank">Blogs</a></li>
            <li><a href="https://inboxpraveen.github.io/" target="_blank">Contact</a></li>
        </ul>
    </nav>

    <video autoplay muted loop id="myVideo">
        <source src="{% static 'production ID_4779866.mp4' %}" type="video/mp4">
    </video>
    <script>
        var vid = document.getElementById("myVideo");
        vid.playbackRate = 0.25;
    </script>

    <div class="main-container">
        <div class="two">
            <h1><span class="add-text-background">Movie</span> Recommendation System</h1>
            <p class="subheading">Check out these great movies that we recommend for you.</p>
            <form method="POST">    
                {% csrf_token %}
                <div class="formcontainer">
                    <input class="input-field" type="text" id="movie_name" name="movie_name"
                        placeholder="Start typing to see movie suggestions..." required />
                    <script>
                        $(function () {
                            var availableTags = [
                                {% for mmm in all_movie_names %}
                                "{{ mmm }}",
                            {% endfor %}
                        ];
                        $("#movie_name").autocomplete({
                            source: availableTags,
                            minLength: 3
                        });
                    } );
                    </script>
                    <button type="submit" class="submit-button">Search</button>
                </div>
            </form>
            <p class="message">
                {% if input_provided %}
                    <div>
                        {% if not movie_found %}
                            <p class="message__result">You Searched For: <b>{{ input_movie_name }}</b></p>
                            {% if not recomendation_found %}
                                <p class="message__p1">Oops! We can not match your movie in our database.</p>
                                <p class="message__p2">As this is a demo model, only top 2.5K movies based on IMBD are present.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </p>
        </div>
        
        <div clas="three">
            <span class="social-links-span">
                <a target="_blank" href="https://inboxpraveen.github.io/"><i class="ti ti-user-circle"></i></a>
                <a target="_blank" href="https://github.com/inboxpraveen"><i class="ti ti-brand-github"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/praveen-kumar-inbox/"><i class="ti ti-brand-linkedin"></i></a>
                <a target="_blank" href="https://twitter.com/InboxPraveen"><i class="ti ti-brand-twitter"></i></a>
                <a target="_blank" href="https://medium.com/@inboxpraveen"><i class="ti ti-brand-medium"></i></a>
            </span>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

</body>

</html>

